<section>
	<div class="extra-container">
		<div class="sponsor__tittle">
			<h1>Our Sponsor</h1>
		</div>
		<div class="sponsor">
			<div class="sponsor__item">
				<img
					src="../assets/images/uploads/sponsor/sponsor1.png"
					alt="sponsor1"
				/>
			</div>
			<div class="sponsor__item">
				<img
					src="../assets/images/uploads/sponsor/sponsor2.png"
					alt="sponsor2"
				/>
			</div>
			<div class="sponsor__item">
				<img
					src="../assets/images/uploads/sponsor/sponsor3.png"
					alt="sponsor3"
				/>
			</div>
			<div class="sponsor__item">
				<img
					src="../assets/images/uploads/sponsor/sponsor4.png"
					alt="sponsor4"
				/>
			</div>
			<div class="sponsor__item">
				<img
					src="../assets/images/uploads/sponsor/sponsor5.png"
					alt="sponsor5"
				/>
			</div>
			<div class="sponsor__item">
				<img
					src="../assets/images/uploads/sponsor/sponsor6.png"
					alt="sponsor6"
				/>
			</div>
			<div class="sponsor__item">
				<img
					src="../assets/images/uploads/sponsor/sponsor7.png"
					alt="sponsor7"
				/>
			</div>
			<div class="sponsor__item">
				<img
					src="../assets/images/uploads/sponsor/sponsor8.png"
					alt="sponsor8"
				/>
			</div>
			<div class="sponsor__item">
				<img
					src="../assets/images/uploads/sponsor/sponsor9.png"
					alt="sponsor9"
				/>
			</div>
			<div class="sponsor__item">
				<img
					src="../assets/images/uploads/sponsor/sponsor10.png"
					alt="sponsor10"
				/>
			</div>
		</div>
	</div>
</section>
