<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('components/meta') -%>
		<title>AYKYA</title>
		<%- include('components/corecss') -%>
	</head>
	<body>
		<header id="header-trans2" class="header-trans-1">
			<div class="extra-container">
				<div class="header-2">
					<div class="header__logo">
						<a href="index"
							><img src="../assets/images/logo.png" alt="logo"
						/></a>
					</div>

					<div id="header-trans2__btn" class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="pagebanner-4">
				<div class="extra-container">
					<div class="pagebanner-3__text wow fadeInUp">
						<h1 class="pagebanner-3__text__name">Hello, I’m</h1>
						<h1 class="pagebanner-3__text__name2">Richard Green</h1>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="portfolio-2__head">
				<div class="extra-container">
					<div class="row">
						<div class="col-xl-6">
							<div class="portfolio-2__tittle wow fadeInUp">
								<div class="portfolio-2__tittle__slogan">
									<hr class="portfolio-2__tittle__cross" />
									<h2>I design and build ultimate things.</h2>
								</div>
								<div class="link-draw__hover">
									<svg
										viewBox="4 0 118 98.6"
										class="hand-draw"
									>
										<path
											class="hand-med-hover"
											d="M33.2,31.2C53.8,14.1,78.4,9.5,96.9,19.4c12.2,6.5,26.7,21.9,23.9,37.8c-3.9,22.2-39.1,37.1-65.6,34.5c-8.8-0.9-17.6-3.8-25.3-8.2C16.7,76,4.5,63.1,4.4,47.2C4.3,32.4,15,19.3,27.2,12.1c3.6-2.1,7.5-3.9,11.5-5.3c15.2-5.5,27.7-2.5,32.7-1.3c3.6,0.9,18,4.9,29.9,19c5.4,6.3,11.2,13.1,12.5,24.5c0.3,2.6,2,20.2-10.5,34.1C93.9,93.4,82,94,70,94.7c-9.9,0.6-25.8,1.5-39.3-10.1c-2.3-2-20.5-18.1-16-38.8c2.4-10.8,10-18.2,12.4-20.5c6.8-6.6,13.6-8.9,19.7-11C52,12.7,63,9.1,76.3,11.8c5,1,14.8,3.1,23.4,11.9c2.4,2.5,9.2,9.7,11.6,22c0.8,4.2,2.2,11.4-0.4,19.1c-4.9,14.2-20.9,19.7-28.3,22.4c-6,2.1-18,6.4-31.1,1.9c-16.1-5.4-33.7-23.9-28.8-44.2C25.5,33.2,35,24,44.6,19.9c14.3-6.2,26.1,0,28,1"
										/>
									</svg>
									<a class="t-upcase moving-btn" href="#"
										>Download Resume.pdf</a
									>
								</div>
							</div>
						</div>
						<div class="col-xl-6">
							<div class="row">
								<div class="col-lg-6">
									<p
										class="wow fadeInUp portfolio-2__tittle__text portfolio-2__tittle__text1 t-nd-dark"
									>
										I love graphic design, photography and
										have been working on my portfolio. Lorem
										ipsum dolor, sit amet consectetur
										adipisicing elit.
									</p>
								</div>
								<div class="col-lg-6">
									<p
										class="wow fadeInUp portfolio-2__tittle__text portfolio-2__tittle__text2 t-nd-dark"
									>
										In addition, I can give your business a
										new creative start right. Lorem ipsum
										dolor sit, amet consectetur!
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="extra-container">
				<div class="portfolio-2">
					<a
						href="portfolioSingle"
						class="wow fadeInUp portfolio-2__item portfolio-2__item__h"
					>
						<img
							src="../assets/images/uploads/porfolio/porfolio7.jpg"
							alt="portfolio"
						/>
						<div class="portfolio-2__item__category">
							<h5 class="t-upcase">Senjani project</h5>
							<p>Branding</p>
						</div>
					</a>

					<a
						href="portfolioSingle"
						class="wow fadeInUp portfolio-2__item portfolio-2__item__v"
					>
						<img
							src="../assets/images/uploads/porfolio/porfolio8.jpg"
							alt="portfolio"
						/>
						<div class="portfolio-2__item__category">
							<h5 class="t-upcase">Freedom project</h5>
							<p>Web Design</p>
						</div>
					</a>

					<a
						href="portfolioSingle"
						class="wow fadeInUp portfolio-2__item portfolio-2__item__h"
					>
						<img
							src="../assets/images/uploads/porfolio/porfolio9.jpg"
							alt="portfolio"
						/>
						<div class="portfolio-2__item__category">
							<h5 class="t-upcase">Virtual Reality</h5>
							<p>Analytical Develop</p>
						</div>
					</a>

					<a
						href="portfolioSingle"
						class="wow fadeInUp portfolio-2__item portfolio-2__item__v"
					>
						<img
							src="../assets/images/uploads/porfolio/porfolio1.jpg"
							alt="portfolio"
						/>
						<div class="portfolio-2__item__category">
							<h5 class="t-upcase">Sunday project</h5>
							<p>Analytical Develop</p>
						</div>
					</a>

					<a
						href="portfolioSingle"
						class="wow fadeInUp portfolio-2__item portfolio-2__item__h"
					>
						<img
							src="../assets/images/uploads/porfolio/porfolio10.jpg"
							alt="portfolio"
						/>
						<div class="portfolio-2__item__category">
							<h5 class="t-upcase">Memories project</h5>
							<p>Public Speaking</p>
						</div>
					</a>

					<a
						href="portfolioSingle"
						class="wow fadeInUp portfolio-2__item portfolio-2__item__v"
					>
						<img
							src="../assets/images/uploads/porfolio/porfolio11.jpg"
							alt="portfolio"
						/>
						<div class="portfolio-2__item__category">
							<h5 class="t-upcase">Jaden smith tour</h5>
							<p>Event Organization</p>
						</div>
					</a>

					<a
						href="portfolioSingle"
						class="wow fadeInUp portfolio-2__item portfolio-2__item__h"
					>
						<img
							src="../assets/images/uploads/porfolio/porfolio6.jpg"
							alt="portfolio"
						/>
						<div class="portfolio-2__item__category">
							<h5 class="t-upcase">The opener project</h5>
							<p>Tech Talk</p>
						</div>
					</a>

					<a
						href="portfolioSingle"
						class="wow fadeInUp portfolio-2__item portfolio-2__item__v"
					>
						<img
							src="../assets/images/uploads/porfolio/porfolio5.jpg"
							alt="portfolio"
						/>
						<div class="portfolio-2__item__category">
							<h5 class="t-upcase">Fashion project</h5>
							<p>Branding</p>
						</div>
					</a>

					<a
						href="portfolioSingle"
						class="wow fadeInUp portfolio-2__item portfolio-2__item__h"
					>
						<img
							src="../assets/images/uploads/porfolio/porfolio12.jpg"
							alt="portfolio"
						/>
						<div class="portfolio-2__item__category">
							<h5 class="t-upcase">Castle Glass project</h5>
							<p>SEO & Marketing</p>
						</div>
					</a>

					<div class="portfolio-2-sizer"></div>
				</div>
				<div class="portfolio-2__view wow fadeInUp">
					<div class="portfolio-2__view__link">
						<svg viewBox="4 0 118 98.6" class="hand-draw">
							<path
								class="hand-med-hover"
								d="M33.2,31.2C53.8,14.1,78.4,9.5,96.9,19.4c12.2,6.5,26.7,21.9,23.9,37.8c-3.9,22.2-39.1,37.1-65.6,34.5c-8.8-0.9-17.6-3.8-25.3-8.2C16.7,76,4.5,63.1,4.4,47.2C4.3,32.4,15,19.3,27.2,12.1c3.6-2.1,7.5-3.9,11.5-5.3c15.2-5.5,27.7-2.5,32.7-1.3c3.6,0.9,18,4.9,29.9,19c5.4,6.3,11.2,13.1,12.5,24.5c0.3,2.6,2,20.2-10.5,34.1C93.9,93.4,82,94,70,94.7c-9.9,0.6-25.8,1.5-39.3-10.1c-2.3-2-20.5-18.1-16-38.8c2.4-10.8,10-18.2,12.4-20.5c6.8-6.6,13.6-8.9,19.7-11C52,12.7,63,9.1,76.3,11.8c5,1,14.8,3.1,23.4,11.9c2.4,2.5,9.2,9.7,11.6,22c0.8,4.2,2.2,11.4-0.4,19.1c-4.9,14.2-20.9,19.7-28.3,22.4c-6,2.1-18,6.4-31.1,1.9c-16.1-5.4-33.7-23.9-28.8-44.2C25.5,33.2,35,24,44.6,19.9c14.3-6.2,26.1,0,28,1"
							/>
						</svg>
						<a href="#">view all case studies</a>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="testi-2">
				<div class="extra-container">
					<div class="portfolio-2__tittle">
						<div class="portfolio-2__tittle__slogan wow fadeInUp">
							<hr class="portfolio-2__tittle__cross" />
							<h2>My achievements</h2>
						</div>
					</div>
					<div class="testi-2__content">
						<p class="wow fadeInUp">
							I am extremely proud and honored to have received
							these amazing. Lorem ipsum dolor sit amet
							consectetur adipisicing elit. Sit, atque. Optio
							illum iusto quis quam a? Praesentium voluptates
							natus eligendi.
						</p>
						<div class="testi-2__content__achievement wow fadeInUp">
							<div><h3>2017</h3></div>
							<ul>
								<li>BIG Innovation Awards</li>
								<li>Green Product Award</li>
								<li>Red Dot Award Product Design</li>
							</ul>
						</div>
						<div class="testi-2__content__achievement wow fadeInUp">
							<div><h3>2018</h3></div>
							<ul>
								<li>The A' Luxury Design Awards</li>
								<li>Graphis Design Annual Competition</li>
							</ul>
						</div>
						<div class="testi-2__content__achievement wow fadeInUp">
							<div><h3>2019</h3></div>
							<ul>
								<li>LIT Lighting Design Awards</li>
								<li>Lexus Design Awards</li>
								<li>International Design Awards</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="testi-2__qoute">
				<div class="extra-container">
					<div class="testi-2__qoute__tittle">
						<div class="portfolio-2__tittle__slogan wow fadeInUp">
							<hr class="portfolio-2__tittle__cross" />
							<h2>What client say</h2>
						</div>
					</div>
				</div>
				<div class="container">
					<!-- testimonial -->
					<div class="testimonial-area wow zoomIn">
						<div class="testimonial">
							<div class="testimonial__item">
								<div class="row">
									<div class="col-lg-3 col-md-3">
										<div class="testimonial__qoute">
											<img
												src="../assets/images/quote.png"
												alt="quote"
											/>
										</div>
									</div>
									<div class="col-lg-9 col-md-9">
										<div class="testimonial__text">
											<p class="t-nd-dark">
												Aenean porta nunc sed nisi
												condimentum, vel eleifend lorem
												cons Lorem ipsum dolor sit amet
												consectetur adipisicing elit.
												Asperiores porro provident ullam
												aperiam vel maiores quaerat ad
												inventore nostrum velit.
											</p>
											<div
												class="testimonial__text__author"
											>
												<hr />
												<a href="#"
													><h5>Stephen Black</h5></a
												>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="testimonial__item">
								<div class="row">
									<div class="col-lg-3 col-md-3">
										<div class="testimonial__qoute">
											<img
												src="../assets/images/quote.png"
												alt="quote"
											/>
										</div>
									</div>
									<div class="col-lg-9 col-md-9">
										<div class="testimonial__text">
											<p class="t-nd-dark">
												Aenean porta nunc sed nisi
												condimentum, vel eleifend lorem
												cons Lorem ipsum dolor sit amet
												consectetur adipisicing elit.
												Asperiores porro provident ullam
												aperiam vel maiores quaerat ad
												inventore nostrum velit.
											</p>
											<div
												class="testimonial__text__author"
											>
												<hr />
												<h5>Emma Watson</h5>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="testimonial__arrow">
							<h6 class="testimonial__arrow--left">
								<i class="fa fa-angle-left"></i>Prev
							</h6>
							<h6 class="testimonial__arrow--right">
								Next<i class="fa fa-angle-right"></i>
							</h6>
						</div>
					</div>
				</div>
			</div>
			<div class="sponsor">
				<div class="sponsor__item">
					<img
						src="../assets/images/uploads/sponsor/sponsor1.png"
						alt="sponsor1"
					/>
				</div>
				<div class="sponsor__item">
					<img
						src="../assets/images/uploads/sponsor/sponsor2.png"
						alt="sponsor2"
					/>
				</div>
				<div class="sponsor__item">
					<img
						src="../assets/images/uploads/sponsor/sponsor3.png"
						alt="sponsor3"
					/>
				</div>
				<div class="sponsor__item">
					<img
						src="../assets/images/uploads/sponsor/sponsor4.png"
						alt="sponsor4"
					/>
				</div>
				<div class="sponsor__item">
					<img
						src="../assets/images/uploads/sponsor/sponsor5.png"
						alt="sponsor5"
					/>
				</div>
				<div class="sponsor__item">
					<img
						src="../assets/images/uploads/sponsor/sponsor6.png"
						alt="sponsor6"
					/>
				</div>
				<div class="sponsor__item">
					<img
						src="../assets/images/uploads/sponsor/sponsor7.png"
						alt="sponsor7"
					/>
				</div>
				<div class="sponsor__item">
					<img
						src="../assets/images/uploads/sponsor/sponsor8.png"
						alt="sponsor8"
					/>
				</div>
				<div class="sponsor__item">
					<img
						src="../assets/images/uploads/sponsor/sponsor9.png"
						alt="sponsor9"
					/>
				</div>
				<div class="sponsor__item">
					<img
						src="../assets/images/uploads/sponsor/sponsor10.png"
						alt="sponsor10"
					/>
				</div>
			</div>
		</section>

		<footer>
			<div class="cursor"></div>
			<div class="cursor-follower"></div>

			<div class="container">
				<div class="footer-3">
					<h5 class="t-upcase t-dusty wow fadeInUp">
						<a href="#">Let’s work together</a>
					</h5>
					<h4 class="t-white wow fadeInUp">
						<a href="#">hey@richardgreen.com</a>
					</h4>
					<h3 class="t-dusty wow fadeInUp">
						<a href="#">(082)-1536-2704</a>
					</h3>
				</div>
			</div>
			<div class="copy-right">
				<div class="container">
					<div class="copy-right__area">
						<p class="copy-right__left">
							<i class="fa fa-copyright"></i> 2020
							<span>AYKYA</span>. All Rights Reserved. Made by
							Aditya, Aravind, Priyaa, Subharish, Suneel, Vinayak
						</p>
						<div class="copy-right__right">
							<a href="#"
								><img
									src="../assets/images/footer-face.png"
									alt="face"
							/></a>
							<a href="#"
								><img
									src="../assets/images/footer-ins.png"
									alt="ins"
							/></a>
							<a href="#"
								><img
									src="../assets/images/footer-in.png"
									alt="in"
							/></a>
							<a href="#"
								><img
									src="../assets/images/footer-twit.png"
									alt="twit"
							/></a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<%- include('components/corejs') -%>
	</body>
</html>
