<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('components/meta') -%>
  <title>AYKYA</title>
  <%- include('components/corecss') -%>
</head>
<body>
<header id="header-3">
    <div class="extra-container ">
        <div class="header-2 ">
            <div class="header__logo">
                <a href="index"><img src="../assets/images/logo.png" alt="logo"></a>
            </div>

            <div id="header-trans2__btn" class="header__menu-icon">
                <div class="header__menu-icon__dot ">
                    <span ></span>
                    <span ></span>
                </div>
                <div class="header__menu-icon__dot header__menu-icon__dot--vertical">
                    <span ></span>
                    <span ></span>
                </div>
                <div class="header__menu-icon__dot header__menu-icon__dot--skew">
                    <span ></span>
                    <span ></span>
                </div>
                <div class="header__menu-icon__dot header__menu-icon__dot--skew-reverse">
                    <span ></span>
                    <span ></span>
                </div>
            </div>

        </div>
    </div>
</header>
<section class="header-posistion"></section>
<%- include('components/nav') -%>
<div class="loading">
    <div class="sp sp-3balls"></div>
</div>

<section>
    <div class="extra-container">
        <div class="porfolio-single__tittle">
            <h1>Inner Varnika</h1>
        </div>
    </div>
    <div class="portfolio-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="porfolio-single__pictute wow fadeInUp">
                        <img src="../assets/images/uploads/porfolio/portfolio_single1.jpg" alt="portfolio_single1">
                    </div>
                    <div class="porfolio-single__pictute wow fadeInUp">
                        <img src="../assets/images/uploads/porfolio/portfolio_single2.jpg" alt="portfolio_single2">
                    </div>
                    <div class="porfolio-single__pictute wow fadeInUp">
                        <img src="../assets/images/uploads/porfolio/portfolio_single3.jpg" alt="portfolio_single3">
                    </div>
                </div>
                <div class="col-lg-5 wow fadeInRight">
                    <div class="portfolio-single__content">
                        <h5 class="t-upcase">The Challenge</h5>
                        <p>Maecenas vitae justo lobortis, congue diam sed, blandit ante sit amet consectetur adipisicing elit. Perferendis error, aspernatur fuga similique non rerum mollitia molestiae doloribus ipsum voluptatum necessitatibus nesciunt, corrupti unde molestias ullam accusamus possimus nemo aperiam, ad repellat eum minus. Mollitia, autem.</p>
                        <p>Donec in arcu id risus facilisis convallis. Ipsum dolor sit amet consectetur adipisicing elit, illo debitis pariatur repellendus quidem sit earum officia sapiente voluptates in.</p>
                        <ul>
                            <li><span>Category:</span><a href="#">Branding</a></li>
                            <li><span>Tags:</span><a href="#">Color</a>, <a href="#">Brand</a>, <a href="#">Design</a></li>
                            <li><span>Share:</span>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- pagination -->
            <div class="portfolio-single__pagination">
                <a href="#" class="portfolio-single__pagination__left t-dusty">
                    <i class="fa fa-angle-double-left"></i><h5 class="t-dusty paging-btn">Prev</h5>
                    <h5 class="t-upcase t-dusty">Design art DXI</h5>
                </a>
                <a href="portfolio"><i class="fas fa-th-large"></i></a>
                <a href="#" class="portfolio-single__pagination__right t-dusty t-right">
                    <h5 class="t-dusty paging-btn">Next</h5><i class="fa fa-angle-double-right"></i>
                    <h5 class="t-upcase t-dusty">time for begin</h5>
                </a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="cursor"></div>
    <div class="cursor-follower"></div>

    <div class="container">
        <div class="footer-1">
            <h2 class="wow fadeInUp">So what’s next?</h2>
            <h1 class="t-upcase wow fadeInUp">We’re Ready! <a href="#">Let’s chat.</a></h1>
        </div>
    </div>
    <div class="copy-right">
        <div class="extra-container">
            <div class="copy-right__area copy-right__area--2">
                <p class="copy-right__left">
                    <i class="fa fa-copyright"></i> 2020 <span>AYKYA</span>. All Rights Reserved. Made by Aditya S, Aravind V. Nair, Priyaa Iyer, Subharish, Suneel, Vinayak Tekade
                </p>
                <div class="copy-right__mid">
                    <span>(082) 1536 2704</span>
                    <span>19 Washington Square NY 10011, USA</span>
                    <span>hello@aykyamultifest.com</span>
                </div>
                <div class="copy-right__right">
                    <a href="#"><img src="../assets/images/footer-face.png" alt="face"></a>
                    <a href="#"><img src="../assets/images/footer-ins.png" alt="ins"></a>
                    <a href="#"><img src="../assets/images/footer-in.png" alt="in"></a>
                    <a href="#"><img src="../assets/images/footer-twit.png" alt="twit"></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<%- include('components/corejs') -%>

</body>

</html>