<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('components/meta') -%>
  <title>AYKYA</title>
  <%- include('components/corecss') -%>
</head>
<body>
<div class="erropage">
    <div class="erropage-area">
        <div class="head">
            <div class="meta"></div>
            <div class="meta"></div>
        </div>
        <div class="body">
            <p>Sorry! We can’t find the page that you’re looking for.</p>
        </div>
        <a class="backBtn" href="index.html">Back Home</a>
    </div>


</div>
<div class="cursor"></div>
<div class="cursor-follower"></div>

<%- include('components/corejs') -%>

</body>

</html>