<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('components/meta') -%>
		<title>AYKYA</title>
		<%- include('components/corecss') -%>
	</head>

	<body>
		<header id="header-trans" class="header-trans-1">
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<!-- <div class="header__logo">
					<a href="/"><img src="assets/images/logo-white.png" alt="logo" width="105px" height="41px" /></a>
				</div> -->

					<a href="#" class="header__buy-ticket">
						<span>Register</span>
					</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="cursor"></div>
			<div class="cursor-follower"></div>
			<!-- <div class="overlay">
			<div class="iconContainer">
				<div class="phone"><i class="fa fa-repeat"></i></div>
				<p>Rotate your device for best experience</p>
			</div>
			<h1>Resize the screen!</h1>
		</div> -->
			<div class="pagebanner-2" id="logo-timer">
				<div class="pagebanner-2__item">
					<div class="pagebanner-brg pagebanner-brg--2"></div>
					<div id="stars"></div>
					<div id="stars2"></div>
					<div id="stars3"></div>
					<div class="falling-star">
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>
					<div class="logo-reveal-timer" id="logo-reveal-timer">
						<div id="title">
							<span>Coming Soon!</span>
							<br />
							<span class="title-heading text-center"
								><img
									src="assets/images/logo-white.png"
									alt="logo"
							/></span>

							<div style="margin-top: 165px" class="text-center">
								<p>In association with</p>
								<img
									alt="ACRD Logo"
									src="assets/images/acrd.jpg"
									style="
										width: 200px;
										height: auto;
										display: inline;
										margin-top: 20px;
									"
								/>
							</div>
						</div>
						<div
							class="pagebanner__count-down-area"
							style="margin-top: 60px"
						>
							<div class="pagebanner__count-down">
								<p id="CD2__day"></p>
								<span>DAYS</span>
							</div>
							<div class="pagebanner__count-down">
								<p id="CD2__hour"></p>
								<span>HOURS</span>
							</div>
							<div class="pagebanner__count-down">
								<p id="CD2__min"></p>
								<span>MINS</span>
							</div>
							<div class="pagebanner__count-down">
								<p id="CD2__sec"></p>
								<span>SECS</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pagebanner-2" id="logo-reveal">
				<div class="pagebanner-2__item">
					<div class="pagebanner-brg pagebanner-brg--2"></div>
					<div id="stars"></div>
					<div id="stars2"></div>
					<div id="stars3"></div>
					<div class="falling-star">
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>
					<div class="logo-reveal-timer" id="logo-reveal-timer">
						<div id="title-item">
							<div class="row">
								<div class="col-md-6">
									<div class="title-text">
										<span>Welcome To The</span>
										<br />
										<div class="title-heading-text text-center">
											<!-- <img
												src="assets/images/logo-white.png"
												alt="logo"
												width="300px"
												height="auto"
											/> -->
											<p>'Digital Multifest'</p>
											<h2>AYKYA '20</h2>
										</div>
										<!-- <div style="margin-top: 165px" class="text-center">
											<p>In association with</p>
											<img
												alt="ACRD Logo"
												src="assets/images/acrd.jpg"
												style="
													width: 100px;
													height: auto;
													display: inline;
													margin-top: 20px;
												"
											/>
										</div> -->
									</div>
									<div
										class="pagebanner__count-down-area"
										style="margin-top: 60px"
									>
										<div class="">
											<div class="footer__get-ticket footer-move-up" style="font-size: 15px; letter-spacing:0;">
												<a href="/schedule">Schedule</a>
											</div>
											<!-- <p> Check out our events on 6th, 7th and 8th of November</p> -->
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<img src="assets/images/icon_big.png" alt="logo" width="400px" height="600px" style="text-align: center;margin-left: auto; margin-right: auto;">
									<!-- <video width="320" height="240" autoplay muted>
										<source src="assets/images/video.mp4" type="video/mp4">
									</video> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<%- include('components/corejs') -%>
	</body>
</html>
