<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AYKYA</title>

  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="assets/styles/css/slick.css">
  <link rel="stylesheet" href="assets/styles/css/slick-theme.css">
  <link rel="stylesheet" href="assets/styles/css/animate.css">
  <link rel="stylesheet" href="assets/styles/style.css">
</head>
<body>
<header id="header-3">
    <div class="extra-container ">
        <div class="header-2 ">
            <div class="header__logo">
                <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
            </div>

            <div id="header-trans2__btn" class="header__menu-icon">
                <div class="header__menu-icon__dot ">
                    <span ></span>
                    <span ></span>
                </div>
                <div class="header__menu-icon__dot header__menu-icon__dot--vertical">
                    <span ></span>
                    <span ></span>
                </div>
                <div class="header__menu-icon__dot header__menu-icon__dot--skew">
                    <span ></span>
                    <span ></span>
                </div>
                <div class="header__menu-icon__dot header__menu-icon__dot--skew-reverse">
                    <span ></span>
                    <span ></span>
                </div>
            </div>

        </div>
    </div>
</header>
<section class="header-posistion"></section>
<section>

<div class="menu-nav">
    <div class="extra-container">
        <div class="menu-nav-close"></div>
        <nav>
            <ul>
                <li>
                    <a class="menu-link link--kukuri" href="#" data-letters="Home">Home</a><i class="fa fa-angle-down"></i>
                    <ul class="sub-menu">
                        <li><a class="menu-link link--kukuri" data-letters="Home" href="index.html">Home</a></li>
                        <li><a class="menu-link link--kukuri" data-letters="Home Portfolio" href="index-2.html">Home Portfolio</a></li>
                        <li><a class="menu-link link--kukuri" href="creative-agency.html" data-letters="Home Creative">Home Creative</a></li>
                    </ul>
                </li>
                <li>
                    <a class="menu-link link--kukuri" href="#" data-letters="Portfolio">Portfolio</a><i class="fa fa-angle-down"></i>
                    <ul class="sub-menu">
                        <li><a class="menu-link link--kukuri" data-letters="Portfolio" href="portfolio.html">Portfolio</a></li>
                        <li><a class="menu-link link--kukuri" data-letters="Portfolio Single" href="portfolio-single.html">Portfolio Single</a></li>
                    </ul>
                </li>
                <li>
                    <a class="menu-link link--kukuri" data-letters="Speaker" href="#">Speaker</a><i class="fa fa-angle-down"></i>
                    <ul class="sub-menu">
                        <li><a class="menu-link link--kukuri" data-letters="Speaker1" href="speaker-1.html">Speaker1</a></li>
                        <li><a class="menu-link link--kukuri" data-letters="Speaker2" href="speaker-2.html">Speaker2</a></li>
                    </ul>
                </li>
                <li>
                    <a class="menu-link link--kukuri" href="#" data-letters="Blog">Blog</a><i class="fa fa-angle-down"></i>
                    <ul class="sub-menu">
                        <li><a class="menu-link link--kukuri" data-letters="Blog Single" href="blog-single.html">Blog Single</a></li>
                        <li><a class="menu-link link--kukuri" data-letters="Blog Grid" href="blog.html">Blog Grid</a></li>
                    </ul>
                </li>
                <li><a class="menu-link link--kukuri" href="venue.html" data-letters="Venue">Venue</a></li>
                <li><a class="menu-link link--kukuri" href="schedule.html" data-letters="Schedule">Schedule</a></li>
                <li>
                    <a class="menu-link link--kukuri" href="#" data-letters="Pages">Pages</a>
                    <i class="fa fa-angle-down"></i>
                    <ul class="sub-menu">
                        <li><a class="menu-link link--kukuri" href="contact.html" data-letters="Contact">Contact</a></li>
                        <li><a class="menu-link link--kukuri" data-letters="404" href="404.html">404</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
</section>
<div class="loading">
    <div class="sp sp-3balls"></div>
</div>

<section>
    <div class="extra-container">
        <div class="porfolio-single__tittle">
            <h1>Inner Varnika</h1>
        </div>
    </div>
    <div class="portfolio-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="porfolio-single__pictute wow fadeInUp">
                        <img src="assets/images/uploads/porfolio/portfolio_single1.jpg" alt="portfolio_single1">
                    </div>
                    <div class="porfolio-single__pictute wow fadeInUp">
                        <img src="assets/images/uploads/porfolio/portfolio_single2.jpg" alt="portfolio_single2">
                    </div>
                    <div class="porfolio-single__pictute wow fadeInUp">
                        <img src="assets/images/uploads/porfolio/portfolio_single3.jpg" alt="portfolio_single3">
                    </div>
                </div>
                <div class="col-lg-5 wow fadeInRight">
                    <div class="portfolio-single__content">
                        <h5 class="t-upcase">The Challenge</h5>
                        <p>Maecenas vitae justo lobortis, congue diam sed, blandit ante sit amet consectetur adipisicing elit. Perferendis error, aspernatur fuga similique non rerum mollitia molestiae doloribus ipsum voluptatum necessitatibus nesciunt, corrupti unde molestias ullam accusamus possimus nemo aperiam, ad repellat eum minus. Mollitia, autem.</p>
                        <p>Donec in arcu id risus facilisis convallis. Ipsum dolor sit amet consectetur adipisicing elit, illo debitis pariatur repellendus quidem sit earum officia sapiente voluptates in.</p>
                        <ul>
                            <li><span>Category:</span><a href="#">Branding</a></li>
                            <li><span>Tags:</span><a href="#">Color</a>, <a href="#">Brand</a>, <a href="#">Design</a></li>
                            <li><span>Share:</span>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- pagination -->
            <div class="portfolio-single__pagination">
                <a href="#" class="portfolio-single__pagination__left t-dusty">
                    <i class="fa fa-angle-double-left"></i><h5 class="t-dusty paging-btn">Prev</h5>
                    <h5 class="t-upcase t-dusty">Design art DXI</h5>
                </a>
                <a href="portfolio.html"><i class="fas fa-th-large"></i></a>
                <a href="#" class="portfolio-single__pagination__right t-dusty t-right">
                    <h5 class="t-dusty paging-btn">Next</h5><i class="fa fa-angle-double-right"></i>
                    <h5 class="t-upcase t-dusty">time for begin</h5>
                </a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="cursor"></div>
    <div class="cursor-follower"></div>

    <div class="container">
        <div class="footer-1">
            <h2 class="wow fadeInUp">So what’s next?</h2>
            <h1 class="t-upcase wow fadeInUp">We’re Ready! <a href="#">Let’s chat.</a></h1>
        </div>
    </div>
    <div class="copy-right">
        <div class="extra-container">
            <div class="copy-right__area copy-right__area--2">
                <p class="copy-right__left">
                    <i class="fa fa-copyright"></i> 2020 <span>AYKYA</span>. All Rights Reserved. Made by Aditya S, Aravind V. Nair, Priyaa Iyer, Subharish, Suneel, Vinayak Tekade
                </p>
                <div class="copy-right__mid">
                    <span>(082) 1536 2704</span>
                    <span>19 Washington Square NY 10011, USA</span>
                    <span>hello@aykyamultifest.com</span>
                </div>
                <div class="copy-right__right">
                    <a href="#"><img src="assets/images/footer-face.png" alt="face"></a>
                    <a href="#"><img src="assets/images/footer-ins.png" alt="ins"></a>
                    <a href="#"><img src="assets/images/footer-in.png" alt="in"></a>
                    <a href="#"><img src="assets/images/footer-twit.png" alt="twit"></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="assets/scripts/jquery-3.4.1.js"> </script>

<script src="assets/scripts/slick.min.js"></script>
<script src="assets/scripts/isotope.pkgd.min.js"></script>
<script src="assets/scripts/packery-mode.pkgd.min.js" ></script>
<script src="assets/scripts/cells-by-row.js" ></script>
<script src="assets/scripts/flickity.pkgd.min.js"></script>
<script src="assets/scripts/anime.min.js"></script>
<script src="assets/scripts/ScrollMagic.min.js" ></script>
<script src="assets/scripts/TimelineMax.min.js"></script>
<script src="assets/scripts/TweenMax.min.js" ></script>
<script src="assets/scripts/animation.gsap.min.js"></script>
<script src="assets/scripts/charming.min.js"></script>
<script src="assets/scripts/wow.js"></script>
<script src="assets/scripts/lightbox.js"></script>

<script src="assets/scripts/app.js"></script>

</body>

</html>