<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('components/meta') -%>
  <title>AYKYA</title>
  <%- include('components/corecss') -%>
</head>
<body>
<header >
    <div class="extra-container ">
        <div class="header-2 ">
            <div class="header__menu-icon">
                <div class="header__menu-icon__dot ">
                    <span ></span>
                    <span ></span>
                </div>
                <div class="header__menu-icon__dot header__menu-icon__dot--vertical">
                    <span ></span>
                    <span ></span>
                </div>
                <div class="header__menu-icon__dot header__menu-icon__dot--skew">
                    <span ></span>
                    <span ></span>
                </div>
                <div class="header__menu-icon__dot header__menu-icon__dot--skew-reverse">
                    <span ></span>
                    <span ></span>
                </div>
            </div>
            <div class="position-fixed"></div>
            <div class="header__logo">
                <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
            </div>

            <a href="#" class="header__buy-ticket ">
                <span>BUY TICKETS</span>
            </a>
        </div>
    </div>
</header>
<section class="header-posistion"></section>
<section>

<div class="menu-nav">
    <div class="extra-container">
        <div class="menu-nav-close"></div>
        <nav>
            <ul>
                <li>
                    <a class="menu-link link--kukuri" href="#" data-letters="Home">Home</a><i class="fa fa-angle-down"></i>
                    <ul class="sub-menu">
                        <li><a class="menu-link link--kukuri" data-letters="Home" href="index.html">Home</a></li>
                        <li><a class="menu-link link--kukuri" data-letters="Home Portfolio" href="index-2.html">Home Portfolio</a></li>
                        <li><a class="menu-link link--kukuri" href="creative-agency.html" data-letters="Home Creative">Home Creative</a></li>
                    </ul>
                </li>
                <li>
                    <a class="menu-link link--kukuri" href="#" data-letters="Portfolio">Portfolio</a><i class="fa fa-angle-down"></i>
                    <ul class="sub-menu">
                        <li><a class="menu-link link--kukuri" data-letters="Portfolio" href="portfolio.html">Portfolio</a></li>
                        <li><a class="menu-link link--kukuri" data-letters="Portfolio Single" href="portfolio-single.html">Portfolio Single</a></li>
                    </ul>
                </li>
                <li>
                    <a class="menu-link link--kukuri" data-letters="Speaker" href="#">Speaker</a><i class="fa fa-angle-down"></i>
                    <ul class="sub-menu">
                        <li><a class="menu-link link--kukuri" data-letters="Speaker1" href="speaker-1.html">Speaker1</a></li>
                        <li><a class="menu-link link--kukuri" data-letters="Speaker2" href="speaker-2.html">Speaker2</a></li>
                    </ul>
                </li>
                <li>
                    <a class="menu-link link--kukuri" href="#" data-letters="Blog">Blog</a><i class="fa fa-angle-down"></i>
                    <ul class="sub-menu">
                        <li><a class="menu-link link--kukuri" data-letters="Blog Single" href="blog-single.html">Blog Single</a></li>
                        <li><a class="menu-link link--kukuri" data-letters="Blog Grid" href="blog.html">Blog Grid</a></li>
                    </ul>
                </li>
                <li><a class="menu-link link--kukuri" href="venue.html" data-letters="Venue">Venue</a></li>
                <li><a class="menu-link link--kukuri" href="schedule.html" data-letters="Schedule">Schedule</a></li>
                <li>
                    <a class="menu-link link--kukuri" href="#" data-letters="Pages">Pages</a>
                    <i class="fa fa-angle-down"></i>
                    <ul class="sub-menu">
                        <li><a class="menu-link link--kukuri" href="contact.html" data-letters="Contact">Contact</a></li>
                        <li><a class="menu-link link--kukuri" data-letters="404" href="404.html">404</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
</section>
<div class="loading">
    <div class="sp sp-3balls"></div>
</div>







<section>
    <div class="speaker-grid-1">
        <!-- item 1 -->
        <div class="speaker-grid-1__item spk--width600 spk--height--500 ">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers1.jpg">
                <img src="assets/images/uploads/speaker/speakers1.jpg" alt="speakers1">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Kevin</h4>
                    <h4 class="speaker__last-name">Nichoce</h4>
                    <h5 class="speaker__career"> UX & UI Designer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>
                </div>
            </a>
        </div>
        <!-- item 2 -->
        <div class="speaker-grid-1__item spk--width400 spk--height--400">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers2.jpg">
                <img src="assets/images/uploads/speaker/speakers2.jpg" alt="speakers2">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Utada</h4>
                    <h4 class="speaker__last-name">Hikaru</h4>
                    <h5 class="speaker__career"> UX & UI Designer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 3 -->
        <div class="speaker-grid-1__item spk--width400 spk--height--600">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers3.jpg">
                <img src="assets/images/uploads/speaker/speakers3.jpg" alt="speakers3">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Scarlett</h4>
                    <h4 class="speaker__last-name">Scarlett</h4>
                    <h5 class="speaker__career"> UX & UI Designer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 4 -->
        <div class="speaker-grid-1__item spk--width520 spk--height--530">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers4.jpg">
                <img src="assets/images/uploads/speaker/speakers4.jpg" alt="speakers3">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Michael</h4>
                    <h4 class="speaker__last-name">Scottfield</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 5 -->
        <div class="speaker-grid-1__item spk--width600 spk--height--300">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers5.jpg">
                <img src="assets/images/uploads/speaker/speakers5.jpg" alt="speakers5">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Layla</h4>
                    <h4 class="speaker__last-name">Johnson</h4>
                    <h5 class="speaker__career">UI Designer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 6 -->
        <div class="speaker-grid-1__item spk--width400 spk--height--400">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers6.jpg">
                <img src="assets/images/uploads/speaker/speakers6.jpg" alt="speakers6">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Daniel</h4>
                    <h4 class="speaker__last-name">Bryan</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>

        <!-- item 8 -->
        <div class="speaker-grid-1__item spk--width520 spk--height--770">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers8.jpg">
                <img src="assets/images/uploads/speaker/speakers8.jpg" alt="speakers8">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Jenifer</h4>
                    <h4 class="speaker__last-name">Han</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 7 -->
        <div class="speaker-grid-1__item spk--width400 spk--height--400">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers7.jpg">
                <img src="assets/images/uploads/speaker/speakers7.jpg" alt="speakers7">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Brie</h4>
                    <h4 class="speaker__last-name">Larson</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 9 -->
        <div class="speaker-grid-1__item spk--width500 spk--height--500">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers9.jpg">
                <img src="assets/images/uploads/speaker/speakers9.jpg" alt="speakers9">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Jenifer</h4>
                    <h4 class="speaker__last-name">Lawrence</h4>
                    <h5 class="speaker__career">UI Designer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 10 -->
        <div class="speaker-grid-1__item spk--width500 spk--height--500">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers10.jpg">
                <img src="assets/images/uploads/speaker/speakers10.jpg" alt="speakers10">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Tyler</h4>
                    <h4 class="speaker__last-name">Scottfield</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 11 -->
        <div class="speaker-grid-1__item spk--width400 spk--height--300">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers11.jpg">
                <img src="assets/images/uploads/speaker/speakers11.jpg" alt="speakers11">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Travis</h4>
                    <h4 class="speaker__last-name">Scott</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 12 -->
        <div class="speaker-grid-1__item spk--width1000 spk--height--500">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers12.jpg">
                <img src="assets/images/uploads/speaker/speakers12.jpg" alt="speakers12">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Bob</h4>
                    <h4 class="speaker__last-name">Marley</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 13 -->
        <div class="speaker-grid-1__item spk--width460 spk--height--500">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers13.jpg">
                <img src="assets/images/uploads/speaker/speakers13.jpg" alt="speakers13">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Katy</h4>
                    <h4 class="speaker__last-name">Perry</h4>
                    <h5 class="speaker__career">UX Disigner</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 14 -->
        <div class="speaker-grid-1__item spk--width460 spk--height--500">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers14.jpg">
                <img src="assets/images/uploads/speaker/speakers14.jpg" alt="speakers14">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Luke</h4>
                    <h4 class="speaker__last-name">Perterson</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>

    </div>
</section>




<footer>
    <div class="cursor"></div>
    <div class="cursor-follower"></div>

    <div class="container">
        <div class="footer ">
            <a class="footer__logo" href="index.html"><img class="footer-move-up" src="assets/images/logo.png" alt="logo"></a>
            <div class="footer__site-text">
                <p class="footer-move-up">Web Design Conference 2019.</p>
                <p class="footer-move-up">International conference for UX/UI designers</p>
            </div>
            <div class="footer__get-ticket footer-move-up">
                <a href="#">GET TICKETS</a>
            </div>
            <div class="footer__menu footer-move-up">
                <ul>
                    <li><a href="#">Become a sponsor</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Teams of service</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <div class="container">
            <div class="copy-right__area">
                <p class="copy-right__left">
                    <i class="fa fa-copyright"></i> 2020 <span>AYKYA</span>. All Rights Reserved. Made by Aditya, Aravind, Priyaa, Subharish, Suneel, Vinayak
                </p>
                <div class="copy-right__right">
                    <a href="#"><img src="assets/images/footer-face.png" alt="face"></a>
                    <a href="#"><img src="assets/images/footer-ins.png" alt="ins"></a>
                    <a href="#"><img src="assets/images/footer-in.png" alt="in"></a>
                    <a href="#"><img src="assets/images/footer-twit.png" alt="twit"></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<%- include('components/corejs') -%>

</body>

</html>