<footer>
	<div class="cursor"></div>
	<div class="cursor-follower"></div>
	<div class="container">
		<div class="footer">
			<a class="footer__logo" href="index"
				><img
					class="footer-move-up"
					src="assets/images/logo.png"
					alt="logo"
			/></a>
			<div class="footer__site-text">
				<p class="footer-move-up">Rising Together</p>
			</div>
			<div class="footer__get-ticket footer-move-up">
				<a href="#">GET TICKETS</a>
			</div>
			<div class="footer__menu footer-move-up">
				<ul>
					<li><a href="#">Become a sponsor</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Privacy policy</a></li>
					<li><a href="#">Teams of service</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<div class="copy-right__area">
				<p class="copy-right__left">
					<i class="fa fa-copyright"></i> 2020 <span>AYKYA</span>. All
					Rights Reserved. Made by Aditya, Aravind, Priyaa, Subharish,
					Suneel, Vinayak
				</p>
				<div class="copy-right__right">
					<a href="#"
						><img src="assets/images/footer-face.png" alt="face"
					/></a>
					<a href="#"
						><img src="assets/images/footer-ins.png" alt="ins"
					/></a>
					<a href="#"
						><img src="assets/images/footer-in.png" alt="in"
					/></a>
					<a href="#"
						><img src="assets/images/footer-twit.png" alt="twit"
					/></a>
				</div>
			</div>
		</div>
	</div>
</footer>
