<footer>
	<div class="cursor"></div>
	<div class="cursor-follower"></div>
	<div class="container">
		<div class="footer">
			<a class="footer__logo" href="/">
				<img
					class="footer-move-up"
					src="assets/images/logo.png"
					alt="logo"
			/></a>
			<div class="footer__site-text">
				<p class="footer-move-up">Rising Together</p>
			</div>
			<div class="footer__get-ticket footer-move-up">
				<a href="#">GET TICKETS</a>
			</div>
			<!-- <div class="footer__menu footer-move-up">
				<ul>
					<li><a href="#">Become a sponsor</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Privacy policy</a></li>
					<li><a href="#">Teams of service</a></li>
				</ul>
			</div> -->
		</div>
	</div>


	<script>
		function mouseOver(obj)
		{
			var divId = "img"+obj.id.substring(3,obj.id.length)

			document.getElementById(divId).style.visibility = "visible"
			// devId = obj.id
			console.log(divId)
		}

		function mouseLeave(obj)
		{
			var divId = "img"+obj.id.substring(3,obj.id.length)

			document.getElementById(divId).style.visibility = "hidden"
			// devId = obj.id
			console.log(divId)
		}
	</script>


	<div class="copy-right">
		<div class="container">
			<div class="copy-right__area">
				<p class="copy-right__left">
					<i class="fa fa-copyright"></i> 2020 <span>AYKYA</span>. All
					Rights Reserved. Made by&nbsp;

					<span style="letter-spacing: 1.5px" id="dev1" onmouseover="mouseOver(this)" onmouseleave="mouseLeave(this)">
						<img class="image" id="img1" src="../assets/images/uploads/speaker/template_pics/speakers1.jpg">
						Aditya S,&nbsp;
					</span>


					<span style="letter-spacing: 1.5px" id="dev2" onmouseover="mouseOver(this)" onmouseleave="mouseLeave(this)">
						<img class="image" id="img2" src="../assets/images/uploads/speaker/template_pics/speakers2.jpg">
						 Aravind V N,&nbsp;
					</span>


					<span id="dev3" onmouseover="mouseOver(this)" onmouseleave="mouseLeave(this)">
						<img class="image" id="img3" src="../assets/images/uploads/speaker/template_pics/speakers3.jpg">
						 Priyaa R G&nbsp;,&nbsp;
					</span>


					<span id="dev4" onmouseover="mouseOver(this)" onmouseleave="mouseLeave(this)">
						<img class="image" id="img4" src="../assets/images/uploads/speaker/template_pics/speakers4.jpg">
						Subaharish R K,&nbsp;
					</span>


					<span id="dev5" onmouseover="mouseOver(this)" onmouseleave="mouseLeave(this)">
						<img class="image" id="img5" src="../assets/images/uploads/speaker/template_pics/speakers5.jpg">
						 Suneel N,&nbsp;
					</span>


					<span id="dev6" onmouseover="mouseOver(this)" onmouseleave="mouseLeave(this)">
						<img class="image" id="img6" src="../assets/images/uploads/speaker/template_pics/speakers6.jpg">
						 Vinayak T
					</span>


				</p>
				<div class="copy-right__right">
					<a href="#"
						><img src="assets/images/footer-face.png" alt="face"
					/></a>
					<a href="#"
						><img src="assets/images/footer-ins.png" alt="ins"
					/></a>
					<a href="#"
						><img src="assets/images/footer-in.png" alt="in"
					/></a>
					<a href="#"
						><img src="assets/images/footer-twit.png" alt="twit"
					/></a>
				</div>
			</div>
		</div>
	</div>
</footer>
