<header>
    <div class="extra-container">
        <div class="header-2">
            <div class="header__menu-icon">
                <div class="header__menu-icon__dot">
                    <span></span>
                    <span></span>
                </div>
                <div
                    class="header__menu-icon__dot header__menu-icon__dot--vertical"
                >
                    <span></span>
                    <span></span>
                </div>
                <div
                    class="header__menu-icon__dot header__menu-icon__dot--skew"
                >
                    <span></span>
                    <span></span>
                </div>
                <div
                    class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
                >
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="position-fixed"></div>
            <div class="header__logo">
                <a href="/"
                    ><img
                        src="/assets/images/logo-white.png"
                        alt="logo"
                        width="105px"
                        height="41px"
                /></a>
            </div>

            <a
                    href="https://payments.acrd.org.in/pay/event/blr2021001"
                    class="header__buy-ticket"
                    target="_blank"
                    rel="noopener"
                >
                    <span>Register</span>
                </a>
        </div>
    </div>
</header>