<section>
	<div class="menu-nav">
		<div class="extra-container">
			<div class="menu-nav-close"></div>
			<nav>
				<ul>
					<li>
						<a
							class="menu-link link--kukuri home"
							href="/"
							data-letters="Home"
							>Home</a
						>
					</li>
					<li>
						<a
							class="menu-link link--kukuri about"
							href="/about"
							data-letters="About Aykya"
							>About Aykya</a
						>
					</li>
					<li>
						<a
							class="menu-link link--kukuri fest"
							data-letters="Fest Schedule"
							href="/schedule"
							>Fest Schedule</a
						>
					</li>

					<li>
						<a
							class="menu-link link--kukuri gallery"
							href="/pastEvents"
							data-letters="Past Events"
							>Past Events</a
						>
					</li>
					<li>
						<a
						class="menu-link link--kukuri members"
						href="/organisers"
						data-letters="Organisers"
						>Organisers</a
						>
					</li>
					<li>
						<a
							class="menu-link link--kukuri events"
							href="/campusAmbassador"
							data-letters="Ambassador"
							>Ambassador</a
						>
					</li>
					<li>
						<a
							class="menu-link link--kukuri contact"
							href="/contact"
							data-letters="Contact Us"
							>Contact Us</a
						>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</section>
